data/
docs/eval_results/
docs/train_results/
docs/images/
docs/utilities/
scripts/iou_results_comparison/
.DS_Store
.vscode
.ipynb_checkpoints/
__pycache__/
reference_papers/
model_checkpoints/
mlruns/
debug/
debug_*
*_logs
*_logs_*
