# platform: osx-arm64
keras=2.9.0=pypi_0
matplotlib=3.5.2=py38h150bfb4_1
numpy=1.22.4=py38he1fcd3f_0
opencv-python=4.6.0.66=pypi_0
pillow=6.2.0=pypi_0
plotly=5.9.0=pyhd8ed1ab_0
scikit-learn=1.1.1=py38hddc176c_0
tensorboard=2.9.1=pypi_0
tensorflow-macos=2.9.2=pypi_0
tensorflow-metal=0.5.0=pypi_0
termcolor=1.1.0=pypi_0
torch=1.12.0=pypi_0
torchvision=0.13.0=pypi_0